/* GRNERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
header {
    box-shadow: 0px 1px 3px #d1dae1;
}

header > .container {
    padding: 20px 20px;
    display: flex;
   justify-content: space-between;
}

.nav {
    display: flex;
    gap: 20px;
    width: 500px;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 10px;
}

.container .border-link:hover {
    border-bottom: 2px solid black;
}

header .dx {
    justify-content: right;
}

.button.blue {
    background-color: #0061fe;
    color: #ffffff;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
}
.button.blue:hover {
    filter: brightness(1.4);
}

/* MAIN */

/* Sezione 1 */
main > div {
    padding: 0px 300px;
}

.section.color {
    padding: 0px 250px; 
}

main .color {
    background-color: #b4d0e6;
}

.section .one {
    height: 530px;
    position: relative;
}

.section .one  > .first-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 50px;
}

.color .one > h1 {
    height: 33%;
    font-size: 60px;
     flex-shrink: 0;
     padding-top: 20px;
}

.fa-arrow-down {
    padding-top: 40px;
    font-size: 35px;
}

.jumbotron {
    width: 65%;
    position: absolute;
    top: 225px;
    left: 400px;
}
/* /Sezione 1 */

/* Sezione 2 */
.section-two {
    padding-top: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 31.5px;
    padding-top: 20px;
}
.box-content {
    height: 800px;
    width: calc(93%/ 3 );
    border: 1px solid;
}
.box .orizzontal {
    width: 100%;
    height: 230px;
}

.mini-intestazione {
   text-align: center;
    border-bottom: 1px solid #000000;
    padding: 10px 0 10px;
    font-size: smaller;
}
.mini-corpo {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.mini-corpo .Price {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.month {
    color: #6c6c6a;
}

.fa-check {
    color: #0066ff;
}
.checked-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checked-elements > div {
    font-size: smaller
}

.orizzontal>.mini-corpo{
    position: relative;
}
.orizzontal .mini-corpo>.button {
    position: absolute;
    right: 30px;
}
#text {
    width: 75%;
    padding-top: 20px;
}
/* /Sezione 2 */

/* Sezione 3 */
.section-three {
    height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container.two {
    height: 400px;
    display: flex;
    gap: 40px;
}
#partner-img {
    height: 100%;
}
.second-text {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 10px;
}

.find {
    border: 1px solid;
    width: 33%;
    padding: 3px;
    text-align: center;
}
/* /Sezione 3 */

/* Sezione 4 */
.large {
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Img {
    width: 100%;
}
.no-border {
    border: 0;
}
/* /Sezione 4 */

/* Sezione 5 */
.section-five {
    padding-top: 150px;
    padding-bottom: 150px;
}

.team > div {
    padding-bottom: 40px;
    font-size: x-large;
}
/* /Sezione 5 */

/* FOOTER */

/* Parte-1 */
footer {
    height: 500px;
    background-color: #000000;
}

.credits {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px 50px;
    gap: 42px;
}
.final {
    height: 220px;
    width: calc( 100% / 6 );
    color: #ffffff;
}

.final > ul {
    list-style: none;
}
.final ul > li {
    padding-bottom: 10px;
}
.final ul li > a {
    text-decoration: none;
    color: #ffffff;
}
.final ul >  .bold {
    font-size: x-large;
    padding-bottom: 20px;
}
/* /Parte-1 */
hr {
    color: #ffffff;
    width: 10%;
}
/* Parte-2 */
#Ita {
    color: #86947d;
    padding-top: 50px;
    font-size: small;
    display: flex;
    gap: 10px;
}
#Ita :first-child {
    padding-top: 4px;
}
/* /Parte-2 */





